[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
tox = '*'
tox-pipenv = '*'
twine = '*'
pipenv = '*'
radon = '*'
pylint = '*'
sphinx = '>=1.7.9'
alabaster = '>=0.7.11'

[packages]

[requires]
python_version = '>=3.4'
