[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bandit = '*'
tox = '*'
twine = '*'
pipenv = '*'
radon = '*'
pylint = '*'
pytest = '*'
pytest-cov = '*'
mypy = '*'
sphinx = '>=1.7.9'
alabaster = '>=0.7.11'
python-taint = "*"

[packages]
python-tia = {editable = true, path = "."}
strictyaml = "*"

[requires]
python_version = "3.6"
